@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 100;
}
body {
  background-image: url("https://cdn.staticmb.com/loginstatic/images/bg-icon-1.png");
}
